extends layout

block content
	h1 Welcome to #{title}
	div.main-container
		if !currentUser || currentUser.recruit
			div.message
				span.top
					span.left
						h2 Welcome
					span.right
						p
				span.middle
					p To see more information, register an account and log in, then use the code "FIGHT CLUB" to become a full fledged member!
				span.bottom
					span.left
						p Posted by: Leader
		- message_list.sort((x, y) => {return (x.timestamp > y.timestamp) ? -1 : (x.timestamp < y.timestamp) ? 1 : 0});
		each message in message_list
			if currentUser && (currentUser.fighter || currentUser.leader)
				div.message
					span.top
						span.left
							h2 #{message.title}
						span.right
							p #{message.timestamp_formatted}
					span.middle
						p #{message.description}
					span.bottom
						span.left
							p Posted by: #{message.author}
						if currentUser.leader && !message.permanent
							span.right
								a.delete-link(href=`./delete-message/${message._id}`) Delete
			else
				div.message
					span.top
						span.left
							h2 #{message.title}
						span.right
							p
					span.middle
						p.hide #{message.description}
					span.bottom
						span.left
							p Posted by: Anonymous
