extends layout

block content
	h1= title
	div.new-message-form
		form(method='POST' action='')
			label(for='title') Title
			input#title(type='text' name='title' maxlength=64 placeholder='Sand in fight' value=message ? message.title : '')
			label(for='description') Description
			textarea#description(type='text' name='description' rows=7 minlength=8 maxlength=128 placeholder='Is it fair to use? Discuss.' required=true) #{message ? message.description : ''}
			button.btn-submit(type='submit') Submit

		if errors
			ol.errors-msg
				for error in errors
					li!= error.msg
