extends layout

block content
	div.message-delete
		h1= title
		h3 Are you sure you want to delete this message?
		div.message(id=message._id)
			span.metadata
				span.left
					p Posted by: #{message.author}
					p Topic: #{message.title}
				span.right
					p Date: #{message.timestamp_formatted}
			span.msg-content
				p #{message.description}
		form(method='POST' action='')
			div.delete-controls
				button.btn-submit(type='submit') Submit
				button#goBack.btn-cancel(type='button') Cancel
